.wrapper {
  display: grid;
  grid-template-columns: 100px 1fr 50px 1fr 100px;
}

.decrypt-form {
  grid-column: 2;
}

.encrypt-form {
  grid-column: 4;
}

.input-group {
  display: flex;
}

#visualizer {
  grid-column-start: 2;
  grid-column-end: 5;

  min-width: 100%;
  min-height: 400px;
}

#textParent {
  display: flex;
  flex-wrap: wrap;
}

#dictionaryParent {
  display: flex;
}

.unknownLetter {
  max-height: 20px;
}